
/* overall formating */

#admin-canvas #outer-wrapper {
    margin: 20px 20px 40px 20px;
}

#admin-canvas #inner-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1300px;
  padding: 20px 20px 40px 20px;
}

#admin-canvas #chapter-form {
    border: 1px solid #ccc;
    padding: 10px 10px 50px 10px;
    margin: 0 0 30px 0;
    background-color: #fdfdfd;
    width: 600px;
    margin: 0;
    float: left;
}

#admin-canvas #upload-form {
    border: 1px solid #666;
    padding: 10px 10px 50px 10px;
    background-color: #fdfdfd;
    /*width: 600px;*/
    margin: 0;
}

#admin-canvas #admin-addition {
    border: 1px solid #ccc;
    padding: 10px 10px 50px 10px;
    background-color: #fdfdfd;
    width: 600px;
    margin: 0;
    margin-left: 20px;
    float: left;
}

#admin-canvas #chapterhints {
    border: 1px solid #666;
}

#admin-canvas #upload-wrapper {
    margin: 40px 0 0;
}

#admin-canvas #filelist-wrapper {
    margin: 10px 0 0;
    border: solid 1px #666 !important;
}

#admin-canvas #filelist-results {
    border: solid 1px #ddd !important;
    width: 400px;
    min-height: 50px;
}

#admin-canvas .chapter-form p,
#admin-canvas .upload-form p {
    margin: 10px 0 0;
}

/* font manipulations */

#admin-canvas h1 {
    font-size: 32px;
}

#admin-canvas h3 {
    font-size: 20px;
}

/* wacky every other border coloring */

#chapter-form .well {
    border: 1px solid #666;
}

#chapter-form .well .well {
    border: 1px solid #ddd;
}

#chapter-form .well .well .well {
    border: 1px solid #666;
}

#chapter-form .well .well .well .well {
    border: 1px solid #ddd;
}

#chapter-form .well .well .well .well .well {
    border: 1px solid #666;
}

#chapter-form .well .well .well .well .well .well {
    border: 1px solid #ddd;
}

#chapter-form .well .well .well .well .well .well .well {
    border: 1px solid #666;
}

#chapter-form .well .well .well .well .well .well .well .well {
    border: 1px solid #ddd;
}

#chapter-form .well .well .well .well .well .well .well .well .well {
    border: 1px solid #666;
}

/* Nixing a few default buttons */

#admin-canvas .json-form button[title="Add Property"] {
    display: none;
}

#admin-canvas .json-form .well button[title="Edit JSON"] {
}

/* our buttons */

#admin-canvas button.our-button {
    float: right;
    margin-right: 5px;
}

/* 
 * Thumbnail images 
 */

#admin-canvas img[src*="/thumbs/"] {
    margin: -10px 0 5px 20px;
}

#admin-canvas .refresh-image {
  float: right;
  font-size: 10pt;
}

#admin-canvas button.refresh-image-button {
  font-size: 10px;
}

/* 
 * our input fields 
 */

#admin-canvas .our-search-field {
    float: left;
    margin-right: 5px;
    width: 125px;
}

#admin-canvas .our-search-button-field {
    float: left;
    margin-right: 5px;
}

#admin-canvas .our-search-field input {
}

#admin-canvas .error,
.modal-body .error {
    color:  #aa0000;
    font-weight: bold;
}

#admin-canvas .info {
    color:  black;
    font-weight: normal;
    font-size: 90%;
}

/* button and field formatting */

#admin-canvas .our-search-row {
    display: table;
    overflow: auto;
}

#admin-canvas .our-search-field,
#admin-canvas .our-search-button-field {
    display: table-cell;
    align: bottom;
}

#admin-canvas .our-row-seperator {
    clear: both;
}


/* upload form */

#admin-canvas .upload-row {
    margin-top: -30px;
}


/* form formatting hacks */

/* number sizing */
div [data-schemapath$='pathNumber'],
div [data-schemapath$='chapterNumber'],
div [data-schemapath$='sceneNumber'],
div [data-schemapath$='shotNumber'] 
{
    width: 25%;
    padding-right: 10px;
    display: inline-block;
    vertical-align: top;
}

/* short text sizing */
div [data-schemapath$='pathName'],
div [data-schemapath$='chapterName'],
div [data-schemapath$='sceneName']
{
    width: 75%;
    padding-right: 10px;
    display: inline-block;
    vertical-align: top;
}

/* halvsies */
div [data-schemapath$='debug'],
div [data-schemapath$='placeholders'],
div [data-schemapath$='shotType'],
div [data-schemapath$='sticky'],
div [data-schemapath$='transitionType'],
div [data-schemapath$='startTrigger'],
div [data-schemapath$='duration'],
div [data-schemapath$='fadeIn'],
div [data-schemapath$='visualType'],
div [data-schemapath$='fullscreen'],
div [data-schemapath$='volume'],
div [data-schemapath$='zIndex']
{
    width: 50%;
    padding-right: 10px;
    display: inline-block;
    vertical-align: top;
}


/* drop zone */

#admin-canvas .jqDropZone {
    background: #e8e8e8;
    width: 100%;
    height: 100px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;

    display: inline-block;
    padding: 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #666;
    border-radius: 4px;
}

#admin-canvas .jqDropZone:after {
    content: url("/images/add.png");
    display: block;
}

#admin-canvas .jqDropZone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}

#admin-canvas .jqDropZone.hover {
    background: #0099ff;
    color: white;
    font-weight: bold;
}
#admin-canvas .jqDropZone.hover:after {
    content: url("/images/add.png");
    display: block;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

#admin-canvas .jqDropZone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}
