#house-canvas {
    background-color: #000000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: -20;
}

#house-canvas .background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: -10;
}

#house-canvas .background img {
    width: 100vw;
    height: auto;
}

#house-canvas .house-text {
    margin: 200px auto auto auto;
    max-width: 650px;
    text-align: center;
    color: #ddd;
    z-index: 10;
}

#house-canvas .house-text img {
    max-width: 650px;
    width: 100%;
}
