
#doc-canvas {
  width: 100vw;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  overflow-x: scroll;
  overflow-y: hidden;

  font-family: sans-serif;
  font-size: 14px;
}

#doc-canvas, #outer-wrapper, #inner-wrapper, #table-wrapper {
  height: 100vh;
  background-color: black;
}

/* testing borders
.shot, .content {
    padding: 1px 1px 1px 1px;
}
.shot {
    border: 1px dashed #cc6600;
}
.content {
    border: 1px dashed #0099CC;
}
*/

.full {
  height: 100vh;
  width: 100vw;
}

.doc tr {
    vertical-align: top;
}

.doc .shot {
    width: 100%;
    float: left;
    display: inline;
}

.doc .content {
    color: white;
    font-size: 14px;
}

/* spinner */
.spinner {
    top: 50vh;
    left: 50vw;
}

/* big video */
.doc #big-video-wrap {
    position: relative !important;
}
.vjs-tech {
    width:100%;
}

/* audio player */
.doc .audio {
    width: 1px !important;
    height: 1px !important;
}
.doc .offstage {
    position: absolute;
    top: -2000px;
    visibility: hidden;
}

/* Scrollbar styling */

body ::-webkit-scrollbar,
.fancyscroll ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #333;
}
html ::-webkit-scrollbar-button:start:decrement,
html ::-webkit-scrollbar-button:end:increment,
.fancyscroll ::-webkit-scrollbar-button:start:decrement,
.fancyscroll ::-webkit-scrollbar-button:end:increment {
    display:block;
    height:0;
    background-color: transparent;
}
html ::-webkit-scrollbar-track-piece,
.fancyscroll ::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    background-color: transparent;
}
html ::-webkit-scrollbar-thumb:vertical,
.fancyscroll ::-webkit-scrollbar-thumb:vertical { 
    height: 10px;
    background-color: #666;
    -webkit-border-radius: 2px;
}
html ::-webkit-scrollbar-thumb:horizontal,
.fancyscroll ::-webkit-scrollbar-thumb:horizontal {
    /* width: 10px; */
    background-color: #666;
    -webkit-border-radius: 2px;
}


/*
body.fancyscroll ::-webkit-scrollbar 
{  
    width: 10px;
    height: 10px;
    -webkit-border-radius: 4px;
    z-index: 100;
}

body.fancyscroll ::-webkit-scrollbar-track,
body.fancyscroll ::-webkit-scrollbar-track-piece 
{
    background-color: black;
    z-index: 100;
}

body.fancyscroll ::-webkit-scrollbar-thumb 
{  
    //background-color: rgba(053, 057, 071, 0.3);
    background-color: green;
    width: 20px;
    height: 8px;
    -webkit-border-radius:4px;
    z-index: 105;
}
*/

/* ScrollMagic */

.ScrollSceneIndicators {
    z-index: 5 !important;
}


/* Stuff Specific to these test pages */

.doc .shot {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
}

.doc #section1 {
    background: #9a6642;
}
.doc #section2 {
    background: #734c31;
}
.doc #section3 {
    background: #ff0000;
}
.doc #section4 {
    background: #6e6e6e;
}
.doc #section5 {
    background: #6599bd;
}
