/* 
 * Import Google fonts 
 */

@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);

/* 
 * Basic div structure 
 */

#doc-canvas {
  width: 100vw;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  /*background-color: black;*/

  overflow-x: scroll;
  overflow-y: hidden;

  font-family: 'Architects Daughter', cursive;
  font-size: 14px;
}

#doc-canvas #inner-wrapper {
    display: table;
}

#doc-canvas .table-wrap {
    display: table-cell;
}

#doc-canvas .shot-wrap {
  overflow: hidden;
}

#doc-canvas .content {
  overflow: hidden;
}

#doc-canvas, 
#doc-canvas #outer-wrapper, 
#doc-canvas #inner-wrapper, 
#doc-canvas #table-wrapper {
  height: 100vh;
  overflow: hidden;
}

/* testing borders
.shot, .content {
    padding: 1px 1px 1px 1px;
}
.shot {
    border: 1px dashed #cc6600;
}
.content {
    border: 1px dashed #0099CC;
}
*/

.webdoc .full {
  height: 100vh;
  width: 100vw;
}

.webdoc tr {
    vertical-align: top;
    width: 100vw;
}

.webdoc .shot {
    width: 100vw;
    float: left;
    display: inline;
}

.webdoc .content {
    position: relative;
    top: 0px;
    color: white;
    font-size: 14px;
}

/* 
 * Typography 
 */

.webdoc h1, .webdoc h2, .webdoc h3, .webdoc h4, .webdoc h5 {
    /*font-family: "Helvetica LT", "Helvetica Neue LT", "Arial";*/
    font-family: 'Architects Daughter', cursive;
    font-weight: bolder;
    color: white;
}

.link-text {
    font-family: "Helvetica LT", "Helvetica Neue LT", "Arial";
}

/* 
 * Spinner 
 */

.spinner {
    top: 50vh;
    left: 50vw;
}

/* Stuff Specific to these test pages */

.webdoc .debug {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
    font-size: 10px;
    z-index: 100;
    font-family: "Helvetica LT", "Helvetica Neue LT", "Arial";
}

.webdoc .shot {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
}

.webdoc #section1 {
    background: #9a6642;
}
.webdoc #section2 {
    background: #734c31;
}
.webdoc #section3 {
    background: #ff0000;
}
.webdoc #section4 {
    background: #6e6e6e;
}
.webdoc #section5 {
    background: #6599bd;
}

/*
 * Fullscreen Video
 */

.image-cover {
  object-fit: cover;
  height: 100vh;
  width: 100vw;
}

/* 
 * BigVideo.js 
 */

.webdoc #big-video-wrap {
    position: relative !important;
}

/*
.big-video-vid {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200% !important;
    height: 200% !important;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.vjs-tech {
    position: relative !important;
    min-width: 50%;
    min-height: 50%;
}
*/

.big-video-vid {
}

.vjs-tech {
  object-fit: cover;
  height: 100vh;
  width: 100vw;
}


.vjs-poster,
.vjs-text-track-display,
.vjs-loading-spinner,
.vjs-big-play-button,
.vjs-control-bar,
.vjs-error-display {
    display: none !important;
}

/* 
 * Audio player 
 */

.webdoc .audio {
    width: 1px !important;
    height: 1px !important;
}
.webdoc .offstage {
    position: absolute;
    top: -2000px;
    visibility: hidden;
}

.webdoc #title-wrapper {
    display: table;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 60vw;
    height: 50vh;
    z-index: 10;
}

#title-box {
    display: table-cell;
    vertical-align: bottom;
    font-family: "Helvetica LT Black", "Helvetica Neue LT Black", "Arial Black";
    color: white;
    opacity: 0.80;
    line-height: 0.95em;
}

#scroll-box {
    position: absolute;
    right: 100px;
    bottom: 10px;
    z-index: 10;
    /* transitions */
        -webkit-transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out;
}

.scroll-box-fade {
    opacity: 0;
}

/* Scrollbar styling */

body ::-webkit-scrollbar,
.fancyscroll ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #333;
}
html ::-webkit-scrollbar-button:start:decrement,
html ::-webkit-scrollbar-button:end:increment,
.fancyscroll ::-webkit-scrollbar-button:start:decrement,
.fancyscroll ::-webkit-scrollbar-button:end:increment {
    display:block;
    height:0;
    background-color: transparent;
}
html ::-webkit-scrollbar-track-piece,
.fancyscroll ::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    background-color: transparent;
}
html ::-webkit-scrollbar-thumb:vertical,
.fancyscroll ::-webkit-scrollbar-thumb:vertical { 
    height: 10px;
    background-color: #666;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
html ::-webkit-scrollbar-thumb:horizontal,
.fancyscroll ::-webkit-scrollbar-thumb:horizontal {
    /* width: 10px; */
    background-color: #666;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* 
 * Scrollmagic 
 */

.ScrollSceneIndicators {
    width: 100vw !important;
    height: 100vh !important;
    z-index: 500 !important;
}

.ScrollSceneIndicators div.hook,
.ScrollSceneIndicators div.start,
.ScrollSceneIndicators div.end,
{
    z-index: 500 !important;
}

/*
 * Captions
 */

 #doc-canvas .visual-element h1,
 #doc-canvas .visual-element h2,
 #doc-canvas .visual-element h3,
 #doc-canvas .visual-element h4,
 #doc-canvas .visual-element h5 {
    -webkit-text-shadow: 0 0 5px rgba(0,0,0,0.75);
    -moz-text-shadow: 0 0 5px rgba(0,0,0,0.75);
    text-shadow: 0 0 5px rgba(0,0,0,0.75);
}

/*
 * Pull quotes
 */

#doc-canvas .pullquote {
    display: block;
    font-size: 18pt;
    /*font-weight: bolder;
    line-height: 1.2;*/
    font-family: "Helvetica LT", "Helvetica Neue LT", "Arial";
    /*font-family: 'Architects Daughter', cursive;*/
    padding: 10px 0 10px 0;
    -webkit-text-shadow: 0 0 5px rgba(0,0,0,0.75);
    -moz-text-shadow: 0 0 5px rgba(0,0,0,0.75);
    text-shadow: 0 0 5px rgba(0,0,0,0.75);
}

#doc-canvas .pullquote.right, .pullquote.left {
    position: absolute;
    max-width: 20vw;
    bottom: 20vh;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
}

#doc-canvas .pullquote.right {
    right: 2vw;
    text-align: center;
}

#doc-canvas .pullquote.left {
    left: 2vw;
    text-align: center;
}

#doc-canvas .pullquote.bottom, .pullquote.top {
    position: absolute;
    max-width: 40vw;
    left: 30vw;
}

#doc-canvas .pullquote.top {
    top: 2vh;
    text-align: center;
}

#doc-canvas .pullquote.bottom {
    bottom: 2vh;
    text-align: center;
}


/*
 * Textblock
 */

#doc-canvas .textblock {
    display: block;
    font-size: 16pt;
    font-family: "Helvetica LT", "Helvetica Neue LT", "Arial";
    padding: 10px 0 10px 0;
    -webkit-text-shadow: 0 0 5px rgba(0,0,0,0.5);
    -moz-text-shadow: 0 0 5px rgba(0,0,0,0.5);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#doc-canvas .textblock.right, 
#doc-canvas .textblock.left {
    position: absolute;
    max-width: 25vw;
    bottom: 10vh;
    /*
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    */
}

#doc-canvas .textblock.right {
    right: 2vw;
    text-align: right;
}

#doc-canvas .textblock.left {
    left: 2vw;
    text-align: left;
}

#doc-canvas .textblock.bottom, .textblock.top {
    position: absolute;
    max-width: 60vw;
    left: 20vw;
}

#doc-canvas .textblock.top {
    top: 2vh;
    text-align: center;
}

#doc-canvas .textblock.bottom {
    bottom: 2vh;
    text-align: center;
}

/* 
 * Credits 
 */

#doc-canvas .credits {
    display: block;
    font-size: 10pt;
    font-family: "Helvetica LT", "Helvetica Neue LT", "Arial";
    padding: 10px 0 10px 0;
    position: absolute;
    max-width: 12vw;
    bottom: 10vh;
    left: 2vw;
    text-align: left;
    -webkit-text-shadow: 0 0 2px rgba(0,0,0,0.5);
    -moz-text-shadow: 0 0 2px rgba(0,0,0,0.5);
    text-shadow: 0 0 2px rgba(0,0,0,0.5);
    z-index: 10;
}

#doc-canvas .credits:before {
    font-family: 'Architects Daughter', cursive;
    font-weight: bolder;
    font-size: 22pt;
    display: block;
    content: "Credits";
}

#doc-canvas .credits a {
    color: white;
}

#doc-canvas .credits a:hover {
    text-decoration: none;
    border-bottom: 1px dotted white;
}

#doc-canvas .credits p {
}

/*
 * Links
 */

#doc-canvas .link-wrapper {
    position: absolute;
    width: 95vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: center;
    justify-content: center;
    align-content: flex-start;
    z-index: 5;
    /*
    -webkit-column-width: 37vh;
    -moz-column-width: 37vh;
    column-width: 37vh;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    direction: rtl;
    */
 }

#doc-canvas .link-element {
    display: inline-block;
    max-width: 400px;
    width: 45vh;
    height: 35vh;
    margin: 20px;
    margin-right: 30px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    z-index: 25;
    padding: 0;
    border: solid 3px black;
    cursor: pointer;
    /* drop shadow & vignette */
        -webkit-box-shadow: 
            5px 5px 40px 10px rgba(0,0,0,0.75),
            inset 0px 0px 76px 12px rgba(0,0,0,0.25);
        -moz-box-shadow: 
            5px 5px 40px 10px rgba(0,0,0,0.75),
            inset 0px 0px 76px 12px rgba(0,0,0,0.25);
        box-shadow: 
            5px 5px 40px 10px rgba(0,0,0,0.75),
            inset 0px 0px 76px 12px rgba(0,0,0,0.25);
    /* vignetting */
        /*
        -webkit-box-shadow: inset 0px 0px 76px 12px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 0px 76px 12px rgba(0,0,0,0.75);
        box-shadow: inset 0px 0px 76px 12px rgba(0,0,0,0.75);
        */
    /* brightness */
        -webkit-filter: brightness(0.95);
        -moz-filter: brightness(0.95);  
        filter: brightness(0.95);
    /* transitions */
        -webkit-transition: 
            box-shadow 0.5s,
            brightness 1.5s;
        -moz-transition: 
            box-shadow 0.5s,
            brightness 1.5s;
        transition: 
            box-shadow 0.5s,
            brightness 1.5s;
 }

#doc-canvas .link-element:hover {
    /* brightness */
        -webkit-filter: brightness(1.0);
        -moz-filter: brightness(1.0);  
        filter: brightness(1.0);
    /* drop shadow */
        -webkit-box-shadow: 10px 10px 45px 10px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 45px 10px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 45px 10px rgba(0,0,0,0.75);
    /* outer glow */
        /*
        -webkit-box-shadow: 0 0 10px 2px #fff;
        -moz-box-shadow: 0 0 10px 2px #fff;
        box-shadow: 0 0 10px 2px #fff;
        */
    /* transitions */
        -webkit-transition: 
            box-shadow 0.25s ease-out,
            brightness 0.75s;
        -moz-transition: 
            box-shadow 0.25s ease-out,
            brightness 0.75s;
        transition: 
            box-shadow 0.25s ease-out,
            brightness 0.75s;
 }

#doc-canvas .link-element img {
    height: 100%;
    position: relative;
    top: 50%;
    /* adjust y axis to center */
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    padding: 0;
    margin: 0;
 }

#doc-canvas .link-text {
    display: inline-block;
    min-width: 400px;
    width: 20vw;
    min-height: 60vh;
    margin: 20px;
    margin-right: 40px;
    z-index: 25;
    border: solid 3px black;
    align-self: center;
    padding: 10px 30px 10px 30px;
    background: #000;
    opacity: 0;
    line-height: 1.5;
    /* radius */
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    /* transition */
        -webkit-transition: opacity 1s ease-out;
        -moz-transition: opacity 1s ease-out;
        transition: opacity 1s ease-out;
}

#doc-canvas .link-text.visible {
    opacity: 0.75;
}

#doc-canvas .link-text h1 {
    margin-top: 0;
}

#doc-canvas .link-text h2 {
    font-size: 16pt;
    margin-top: 10px;
}

#doc-canvas .link-text p {
    line-height: 1.5;
    margin: 15px 0 10px;
}


