
/* Basic div structure */

#doc-canvas {
  width: 100vw;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  overflow-x: scroll;
  overflow-y: hidden;

  font-family: sans-serif;
  font-size: 14px;
  background-color: black;
}

#doc-canvas #inner-wrapper {
    display: table;
}

#doc-canvas .table-wrap {
    display: table-cell;
}

#doc-canvas .shot-wrap {
  overflow: hidden;
}

#doc-canvas .content {
  overflow: hidden;
}

#doc-canvas, 
#doc-canvas #outer-wrapper, 
#doc-canvas #inner-wrapper, 
#doc-canvas #table-wrapper {
  height: 100vh;
  overflow: hidden;
}

/* testing borders
.shot, .content {
    padding: 1px 1px 1px 1px;
}
.shot {
    border: 1px dashed #cc6600;
}
.content {
    border: 1px dashed #0099CC;
}
*/

.webdoc .full {
  height: 100vh;
  width: 100vw;
}

.webdoc tr {
    vertical-align: top;
    width: 100vw;
}

.webdoc .shot {
    width: 100vw;
    float: left;
    display: inline;
}

.webdoc .content {
    position: relative;
    top: 0px;
    color: white;
    font-size: 14px;
}

/* Typography */

.webdoc h1, .webdoc h2, .webdoc h3, .webdoc h4, .webdoc h5 {
    font-family: "Helvetica LT", "Helvetica Neue LT", "Arial";
    color: white;
}

/* spinner */

.spinner {
    top: 50vh;
    left: 50vw;
}

/*
 * shared elements
 */

 #sharedfeatures {
}

.burger {
    z-index: 25;
    position: fixed;
    left: -42px;
    width: 50px;
    height: 50px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-radius-topright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-radius-bottomright: 5px;
    border: solid 1px #444;
    padding: 0 0 0 0;
    background-color: black;
    opacity: 0.33;
    /* outer glow */
        -webkit-box-shadow: 0 0 5px 0px #fff;
        -moz-box-shadow:    0 0 5px 0px #fff;
        box-shadow:         0 0 5px 0px #fff;
    /* transitions */
        -webkit-transition: 
            opacity 5s ease-in-out, 
            left 1s ease-in-out;
        -moz-transition: 
            opacity 5s ease-in-out, 
            left 1s ease-in-out;
        transition: 
            opacity 5s ease-in-out, 
            left 1s ease-in-out;
}

.burger.highlighted {
    opacity: 1.0;
    /* transitions */
        -webkit-transition: 
            opacity 0.25s ease-in, 
            left 0.25s ease-in-out;
        -moz-transition: 
            opacity 0.25s ease-in, 
            left 0.25s ease-in-out;
        transition: 
            opacity 0.25s ease-in, 
            left 0.25s ease-in-out;
}

.burger:hover {
    left: -8px;
    opacity: 1.0;
    /* transitions */
        -webkit-transition: 
            opacity 0.25s ease-in, 
            left 0.25s ease-in-out;
        -moz-transition: 
            opacity 0.25s ease-in, 
            left 0.25s ease-in-out;
        transition: 
            opacity 0.25s ease-in, 
            left 0.25s ease-in-out;
}

#menuburger {
    top: 100px;
}

#menuburger img {
    position: absolute;
    top: 8px;
    right: 2px;
    border: 0px;
}

#mapburger {
    top: 200px;
}

#mapburger img {
    position: absolute;
    top: 6px;
    right: 2px;
    border: 0px;
}

#ambientaudio {
    z-index: 25;
    position: fixed;
    width: 28px;
    height: 28px;
    top: 25px;
    right: 25px;
    display: block;
    padding-left: 0;
    overflow: hidden;
    /* transitions */
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}

#ambientaudio img {
    position: absolute;
    left: -28px;
    opacity: 0.33;
    /* transitions */
        -webkit-transition: opacity 5s;
        -moz-transition: opacity 5s;
        transition: opacity 5s;
}

#ambientaudio img.highlighted, 
#ambientaudio img:hover {
    opacity: 1.0;
    /* transitions */
        -webkit-transition: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        transition: opacity 0.2s;
}

#ambientaudio img.audio-on {
    left: 0 !important;
}


/* big video */

.webdoc #big-video-wrap {
    position: relative !important;
}

.big-video-vid {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200% !important;
    height: 200% !important;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.vjs-tech {
    position: relative !important;
    /*
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 50%;
    */
    min-width: 50%;
    min-height: 50%;
}

 .vjs-poster,
 .vjs-text-track-display,
 .vjs-loading-spinner,
.vjs-big-play-button,
.vjs-control-bar,
.vjs-error-display {
    display: none !important;
}

/* audio player */

.webdoc .audio {
    width: 1px !important;
    height: 1px !important;
}
.webdoc .offstage {
    position: absolute;
    top: -2000px;
    visibility: hidden;
}

.webdoc #title-wrapper {
    display: table;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 60vw;
    height: 50vh;
    z-index: 10;
}

#title-box {
    display: table-cell;
    vertical-align: bottom;
    font-family: "Helvetica LT Black", "Helvetica Neue LT Black", "Arial Black";
    color: white;
    opacity: 0.80;
    line-height: 0.95em;
}

#scroll-box {
    position: absolute;
    right: 100px;
    bottom: 10px;
    z-index: 10;
    /* transitions */
        -webkit-transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out;
}

.scroll-box-fade {
    opacity: 0;
}

/* Scrollbar styling */

body ::-webkit-scrollbar,
.fancyscroll ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #333;
}
html ::-webkit-scrollbar-button:start:decrement,
html ::-webkit-scrollbar-button:end:increment,
.fancyscroll ::-webkit-scrollbar-button:start:decrement,
.fancyscroll ::-webkit-scrollbar-button:end:increment {
    display:block;
    height:0;
    background-color: transparent;
}
html ::-webkit-scrollbar-track-piece,
.fancyscroll ::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    background-color: transparent;
}
html ::-webkit-scrollbar-thumb:vertical,
.fancyscroll ::-webkit-scrollbar-thumb:vertical { 
    height: 10px;
    background-color: #666;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
html ::-webkit-scrollbar-thumb:horizontal,
.fancyscroll ::-webkit-scrollbar-thumb:horizontal {
    /* width: 10px; */
    background-color: #666;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* Stuff Specific to these test pages */

.webdoc .debug {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
    font-size: 10px;
    z-index: 100;
}

.webdoc .shot {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
}

.webdoc #section1 {
    background: #9a6642;
}
.webdoc #section2 {
    background: #734c31;
}
.webdoc #section3 {
    background: #ff0000;
}
.webdoc #section4 {
    background: #6e6e6e;
}
.webdoc #section5 {
    background: #6599bd;
}

/* Navigation Menu */

@media screen and (min-width: 2400) {
	#navmenu .modal-dialog  {
        width: 1920px;
        height: 1264px;
    }
    #navmenu #navwindow {
        height: 1264px;
    }
}

#navmenu .modal-dialog {
    width: 80vw;
    height: 90vh;
    top: 5vh;
    color: #4f4404;
}

#navmenu h1, #navmenu h2, #navmenu h3, 
#navmenu h4, #navmenu h5 {
    color: #4f4404;
}

#navmenu .modal-header {
    border-bottom: 1px solid #4f4404;
}

#navmenu .modal-content {
    background: url("/images/navmapbackground.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    color: #4f4404;
    height: 80vh;
}

#navmenu .modal-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid #4f4404;
}

#navmenu .closex {
    position: absolute;
    top: 10px;
    right: 10px;
}

#navmenu .closex a {
    color: #4f4404;
    background-color: #f6e4bf;
    border: solid 1px #4f4404;
    float: right;
}

#navmenu .closebutton a {
    color: #4f4404;
    background-color: #f6e4bf;
    border: solid 1px #4f4404;
}

/* Scrollmagic */

.ScrollSceneIndicators {
    width: 100vw !important;
    height: 100vh !important;
    z-index: 500 !important;
}

.ScrollSceneIndicators div.hook,
.ScrollSceneIndicators div.start,
.ScrollSceneIndicators div.end,
{
    z-index: 500 !important;
}

/*
 * Captions
 */

 .visual-element h1,
 .visual-element h2,
 .visual-element h3,
 .visual-element h4,
 .visual-element h5 {
    -webkit-text-shadow: 0 0 5px rgba(0,0,0,0.75);
    -moz-text-shadow: 0 0 5px rgba(0,0,0,0.75);
    text-shadow: 0 0 5px rgba(0,0,0,0.75);
}

/*
 * Pull quotes
 */

.pullquote {
    display: block;
    font-size: 18pt;
    font-family: "Helvetica LT", "Helvetica Neue LT", "Arial";
    padding: 10px 0 10px 0;
    -webkit-text-shadow: 0 0 5px rgba(0,0,0,0.75);
    -moz-text-shadow: 0 0 5px rgba(0,0,0,0.75);
    text-shadow: 0 0 5px rgba(0,0,0,0.75);
}

.pullquote.right, .pullquote.left {
    position: absolute;
    max-width: 20vw;
    bottom: 20vh;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
}

.pullquote.right {
    right: 2vw;
    text-align: right;
}

.pullquote.left {
    left: 2vw;
    text-align: left;
}

.pullquote.bottom, .pullquote.top {
    position: absolute;
    max-width: 40vw;
    left: 30vw;
}

.pullquote.top {
    top: 2vh;
    text-align: center;
}

.pullquote.bottom {
    bottom: 2vh;
    text-align: center;
}


/*
 * Textblock
 */

.textblock {
    display: block;
    font-size: 16pt;
    font-family: "Helvetica LT", "Helvetica Neue LT", "Arial";
    padding: 10px 0 10px 0;
    -webkit-text-shadow: 0 0 5px rgba(0,0,0,0.5);
    -moz-text-shadow: 0 0 5px rgba(0,0,0,0.5);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.textblock.right, .textblock.left {
    position: absolute;
    max-width: 25vw;
    bottom: 10vh;
    /*
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    */
}

.textblock.right {
    right: 2vw;
    text-align: right;
}

.textblock.left {
    left: 2vw;
    text-align: left;
}

.textblock.bottom, .textblock.top {
    position: absolute;
    max-width: 60vw;
    left: 20vw;
}

.textblock.top {
    top: 2vh;
    text-align: center;
}

.textblock.bottom {
    bottom: 2vh;
    text-align: center;
}

/* Credits */

.credits {
    display: block;
    font-size: 10pt;
    font-family: "Helvetica LT", "Helvetica Neue LT", "Arial";
    padding: 10px 0 10px 0;
    position: absolute;
    max-width: 12vw;
    bottom: 10vh;
    left: 2vw;
    text-align: left;
    -webkit-text-shadow: 0 0 2px rgba(0,0,0,0.5);
    -moz-text-shadow: 0 0 2px rgba(0,0,0,0.5);
    text-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.credits:before {
    display: block;
    content: "Credits";
    font-size: 16pt;
}

.credits a {
    color: white;
}

.credits a:hover {
    text-decoration: none;
    border-bottom: 1px dotted white;
}

.credits p {
}

/*
 * Links
 */

#doc-canvas .link-wrapper {
    position: absolute;
    width: 95vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: center;
    justify-content: center;
    align-content: flex-start;
    z-index: -9999;
    /*
    -webkit-column-width: 37vh;
    -moz-column-width: 37vh;
    column-width: 37vh;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    direction: rtl;
    */
 }

#doc-canvas .link-element {
    display: inline-block;
    max-width: 400px;
    width: 45vh;
    height: 35vh;
    margin: 20px;
    margin-right: 30px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    z-index: 25;
    padding: 0;
    border: solid 3px black;
    cursor: pointer;
    /* drop shadow & vignette */
        -webkit-box-shadow: 
            5px 5px 40px 10px rgba(0,0,0,0.75),
            inset 0px 0px 76px 12px rgba(0,0,0,0.25);
        -moz-box-shadow: 
            5px 5px 40px 10px rgba(0,0,0,0.75),
            inset 0px 0px 76px 12px rgba(0,0,0,0.25);
        box-shadow: 
            5px 5px 40px 10px rgba(0,0,0,0.75),
            inset 0px 0px 76px 12px rgba(0,0,0,0.25);
    /* vignetting */
        /*
        -webkit-box-shadow: inset 0px 0px 76px 12px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 0px 76px 12px rgba(0,0,0,0.75);
        box-shadow: inset 0px 0px 76px 12px rgba(0,0,0,0.75);
        */
    /* brightness */
        -webkit-filter: brightness(0.95);
        -moz-filter: brightness(0.95);  
        filter: brightness(0.95);
    /* transitions */
        -webkit-transition: 
            box-shadow 0.5s,
            brightness 1.5s;
        -moz-transition: 
            box-shadow 0.5s,
            brightness 1.5s;
        transition: 
            box-shadow 0.5s,
            brightness 1.5s;
 }

#doc-canvas .link-element:hover {
    /* brightness */
        -webkit-filter: brightness(1.0);
        -moz-filter: brightness(1.0);  
        filter: brightness(1.0);
    /* drop shadow */
        -webkit-box-shadow: 10px 10px 45px 10px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 45px 10px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 45px 10px rgba(0,0,0,0.75);
    /* outer glow */
        /*
        -webkit-box-shadow: 0 0 10px 2px #fff;
        -moz-box-shadow: 0 0 10px 2px #fff;
        box-shadow: 0 0 10px 2px #fff;
        */
    /* transitions */
        -webkit-transition: 
            box-shadow 0.25s ease-out,
            brightness 0.75s;
        -moz-transition: 
            box-shadow 0.25s ease-out,
            brightness 0.75s;
        transition: 
            box-shadow 0.25s ease-out,
            brightness 0.75s;
 }

#doc-canvas .link-element img {
    height: 100%;
    position: relative;
    top: 50%;
    /* adjust y axis to center */
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    padding: 0;
    margin: 0;
 }

#doc-canvas .link-text {
    display: inline-block;
    min-width: 400px;
    width: 20vw;
    min-height: 60vh;
    margin: 20px;
    margin-right: 40px;
    z-index: 25;
    border: solid 3px black;
    align-self: center;
    padding: 10px 30px 10px 30px;
    background: #000;
    opacity: 0;
    line-height: 1.5;
    /* radius */
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    /* transition */
        -webkit-transition: opacity 1s ease-out;
        -moz-transition: opacity 1s ease-out;
        transition: opacity 1s ease-out;
}

#doc-canvas .link-text.visible {
    opacity: 0.75;
}

#doc-canvas .link-text h1 {
    margin-top: 0;
}

#doc-canvas .link-text h2 {
    font-size: 16pt;
    margin-top: 10px;
}

#doc-canvas .link-text p {
    line-height: 1.5;
    margin: 15px 0 10px;
}


