/* CSS declarations go here */
/* It might be better to define this for body, and then force the body to a class in js */
#testdoc-canvas {
  width: 10000vw;
  height: 100vw;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  overflow-x: scroll;
  overflow-y: hidden;

  font-family: sans-serif;
  font-size: 14px;
}

::-webkit-scrollbar {  
    width:8px;
    height:8px;
    -webkit-border-radius: 4px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    background-color:transparent;
}

::-webkit-scrollbar-thumb {  
    background-color: rgba(053, 057, 071, 0.3);
    width: 6px;
    height: 6px;
    -webkit-border-radius:4px;
}

.testdoc tr {
    vertical-align: top;
}

.testdoc .section {
    width: 100%;
    float: left;
    display: inline;
}

.testdoc .content {
    color: white;
    font-size: 14px;
}

/* big video */
.testdoc #big-video-wrap {
    position: relative !important;
}

/* audio player */
.testdoc .audio {
    width: 1px !important;
    height: 1px !important;
}
.testdoc .offstage {
    position: absolute;
    top: -2000px;
    visibility: hidden;
}

/* ScrollMagic */

.testdoc .ScrollSceneIndicators {
    z-index: 5 !important;
}


/* Stuff Specific to these test pages */

.testdoc .shot {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
}

.testdoc #section1 {
    background: #9a6642;
}
.testdoc #section2 {
    background: #734c31;
}
.testdoc #section3 {
    background: #ff0000;
}
.testdoc #section4 {
    background: #6e6e6e;
}
.testdoc #section5 {
    background: #6599bd;
}
